<div class="californiaPollutionMap">
    <!-- <h2>California pollution</h2> -->
    <p class="chatter">This map shows “pollution burden” scores calculated for selected Los Angeles-area census tracts by the California Environmental Protection Agency. Pollution burden reflects an average of exposures and environmental effects. Darker-colored areas, such as Wilmington, have higher scores, meaning they are more polluted and have higher prevalence of diseases such as asthma. Lighter-colored areas &mdash; such as more affluent Rancho Palos Verdes, about five miles away &mdash; are cleaner and healthier. Tap on an area of the map to see data for individual tracts.</p>

    <div class="map"></div>

    <p class="source">Source: <a href="https://oehha.ca.gov/calenviroscreen" target="_top">California EPA's Office of Environmental Health Hazard Assessment</a>, map data &copy; <a href="http://www.openstreetmap.org/copyright" target="_top">OpenStreetMap</a> contributors, <a href="https://carto.com/attribution" target="_top">CARTO</a>. Graphic by Iuliia Alieva</p>
</div>